.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px 30px 0px;
}

.loading {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #828282;
  font-weight: 700;
  opacity: 0.8;
}
